<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/bento_grid.css') }}">
</head>
<body>
    <div class="dashboard-boundary">
        
        <header class="top-header">
            {{ current_time_date }}
        </header>

        <div class="main-layout">
            <aside class="column col-left">
                <div class="box weather-box">Weather [250x220]</div>
                <div class="box todo-box">To Do Today [250x275]</div>
            </aside>

            <section class="column col-mid">
                <div class="box bible-box">Bible Quote [275x250]</div>
                <div class="box sports-box">Sports [275x125]</div>
                <div class="box calendar-box"> Calendar [275x125]</div>
            </section>

            <section class="column col-right">
                <div class="box mbta-box"> MBTA [425x130]</div>
                <div class="challenges-grid">
                    <div class="challenge-cell">Challenges</div>
                    <div class="challenge-cell">Challenges</div>
                </div>
                <div class="box news-box">News Grid [425x220]</div>
            </section>
        </div>
    </div>
</body>
</html>